.wrap {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow: visible;
}


#section {
    width: 106%;
    height: 504px;
    background: url(../img/punaise.png);
}


#gradient{
    width: 100%;
    opacity: .3;
    height: 504px;
    background: -webkit-linear-gradient(380deg, #7ac0bc, #fff); 
}
#paragraph{    
    top: 30%;
    left: 12%;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    position: absolute;
    font-family: 'Opens sans', sans-serif;
    white-space: pre-wrap;
}

#bloc2{
    width: 100%;
    font-family: 'Opens sans', sans-serif;
}

.center {
    margin: 0 auto;
    width: 31%;
    height: 19%;
    margin-top: 5%;
}

#title{
    color: #2e2f2f;
    font-size: 30px;
    font-weight: bold;
    /**margin: 5% 0 5% 11%;**/
}
.events-day{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;
}
.bingo{
    width: 48%;
    /* float: right; */
    height: 248px;
    position: absolute;
    margin-left: 40%;
}

.day{
    color: #2e2f2f;
    font-size: 26px;
    margin-bottom: 4%;
}
.hour{
    margin-left: 23%;
}
.comment{
    color: #454646;
    white-space: pre-wrap;
    line-height: normal;
}
.reserve{
    color: #fff;
    margin-top: 4%;
    /**margin-left: 10%;**/
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #f17f32;
    -webkit-transition: .7s ease-out;
    transition: .7s ease-out;
    background-color: #f17f32;
    opacity: .8;
    letter-spacing: 1px;
}

.reserve:hover{
    opacity: 1;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
}
#down{
    width: 100%;
    height: 5px;
    background-color: #6ac1c1;
}

.localisation {
        top: 43px;
        float: right;
        left: 166px;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 163px;
        background-color: rgba(0,0,0,0.6);
    }

footer {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: white;
    float: left;
    overflow-y: hidden !important;
}

.contain {
    width: 100%;
    height: 248px;
}


/**Responsive**/

@media screen and (max-width: 1440px) {


    .localisation {
        top: 43px;
        float: right;
        left: 166px;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 163px;
        background-color: rgba(0,0,0,0.6);
    }    
    
}

@media screen and (max-width: 1360px) {
    .localisation {
    top: 45px;
    float: right;
    left: 166px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 151px;
    background-color: rgba(0,0,0,0.6);
    }
}
 
    
@media screen and (max-width: 1290px) {
   
    #title {
    color: #2e2f2f;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    }
    
    .localisation {
    top: 48px;
    float: right;
    left: 152px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 130px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    }


}

@media screen and (max-width: 1290px) {

    .localisation {
        top: 56px;
        float: right;
        left: 151px;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 119px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
    }
    
    .comment {
    color: #454646;
    white-space: pre-wrap;
    line-height: normal;
    /* width: 51%; */
    font-size: 15px;
    }
    
}

@media screen and (max-width: 1180px) {
    .bingo {
    width: 45%;
    /* float: right; */
    height: 248px;
    position: absolute;
    margin-left: 44%;
    }
    
    .localisation {
    top: 56px;
    float: right;
    left: 151px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 82px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    }

}

@media screen and (max-width: 1120px) {
     .bingo {
        width: 45%;
        /* float: right; */
        height: 248px;
        position: absolute;
        margin-left: 45%;
        }
    
    .localisation {
    top: 56px;
    float: right;
    left: 169px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 82px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    }
}

@media screen and (max-width: 1050px) {
    .bingo {
    width: 45%;
    /* float: right; */
    height: 248px;
    position: absolute;
    margin-left: 48%;
    }
    
    .localisation {
    top: 61px;
    float: right;
    left: 177px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 59px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    }
    
    .events-day {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    }
    
    #down {
    width: 105%;
    height: 5px;
    background-color: #6ac1c1;
    /* margin-left: 1%; */
    }
}

@media screen and (max-width: 1050px) {
    .bingo {
    width: 46%;
    /* float: right; */
    height: 248px;
    position: absolute;
    margin-left: 48%;
    }
    
    .localisation {
    top: 61px;
    float: right;
    left: 177px;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 57px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    }   
}

@media screen and (max-width: 973px) {
    .localisation {
        margin-top: -39%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 198px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
    
    .comment {
    color: #454646;
    white-space: pre-wrap;
    line-height: normal;
    /* width: 51%; */
    font-size: 15px;
    text-align: left;
    }
    
    .day {
    color: #2e2f2f;
    font-size: 26px;
    margin-bottom: 4%;
    margin-top: 5%;
    text-align: center;
    }
    
    .bingo {
    width: 101%;
    /* float: right; */
    height: 248px;
    position: relative;
    margin-left: 0%;
    /* text-align: center; */
    }

}

@media screen and (max-width: 920px) {


    .localisation {
        margin-top: -41%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 176px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
}    


@media screen and (max-width: 860px) {

     .localisation {
        margin-top: -43%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 153px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
        }   
    
        .center {
        margin: 0 auto;
        width: 41%;
        height: 19%;
        margin-top: 5%;
        }
}

@media screen and (max-width: 836px) {
    .localisation {
        margin-top: -44%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 143px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
}

@media screen and (max-width: 810px) {
    .localisation {
        margin-top: -45%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 136px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
}



@media screen and (max-width: 780px) {
    .localisation {
    margin-top: -46%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 123px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
}

@media screen and (max-width: 730px) {
    .localisation {
        margin-top: -49%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 105px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
}

@media screen and (max-width: 680px) {
    .localisation {
    margin-top: -52%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 83px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
}

@media screen and (max-width: 630px) {
    .localisation {
        margin-top: -55%;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 66px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
}

@media screen and (max-width: 615px) {
    .localisation {
    margin-top: -56%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 60px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
}

@media screen and (max-width: 590px) {

    .localisation {
        margin-top: -293px;
        float: right;
        left: 1%;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        text-align: center;
        padding: 10px 63px;
        background-color: rgba(0,0,0,0.6);
        /* overflow-y: hidden; */
        white-space: nowrap;
    }
    
    .loc_2 {
        margin-top: -276px;
    }
}

@media screen and (max-width: 560px) {
   .localisation {
    margin-top: -74%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 35px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .center {
    margin: 0 auto;
    width: 63%;
    height: 19%;
    margin-top: 5%;
    }
    
    .bingo_2 {
    margin-top: -327px;
    }
    
    .center {
    margin: 0 auto;
    width: 68%;
    height: 19%;
    margin-top: 5%;
    }
    
}

@media screen and (max-width: 500px) {

    .localisation {
    margin-top: -81%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .loc_2 {
    margin-top: -340px;
    }
    
    .bingo_2 {
    margin-top: -323px;
    }
}

@media screen and (max-width: 460px) {
    .loc_2 {
    margin-top: -334px;
    }
    
    .localisation {
    margin-top: -91%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .bingo_2 {
    margin-top: -317px;
    }
}

@media screen and (max-width: 445px) {
    .center {
        margin: 0 auto;
        width: 85%;
        height: 19%;
        margin-top: 6%;
    }
    
    .localisation {
    margin-top: -108%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 24px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .loc_2 {
    margin-top: -357px;
    }
    
    .bingo_2 {
    margin-top: -340px;
    }
}

@media screen and (max-width: 400px) {
    .center {
    margin: 0 auto;
    width: 92%;
    height: 19%;
    margin-top: 6%;
    }
    
    .localisation {
    margin-top: -108%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 22px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .loc_2 {
    margin-top: -312px;
    }
    
    .day {
    color: #2e2f2f;
    font-size: 23px;
    margin-bottom: 4%;
    margin-top: 5%;
    text-align: center;
    white-space: nowrap;
    }

}

@media screen and (max-width: 365px) {
    .localisation {
    margin-top: -108%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 10px 9px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .loc_2 {
    margin-top: -321px;
    }
    
    .center {
    margin: 0 auto;
    width: 100%;
    height: 19%;
    margin-top: 6%;
    }
    
    #paragraph {
    top: 30%;
    left: 12%;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    position: absolute;
    font-family: 'Opens sans', sans-serif;
    white-space: pre-wrap;
    }
}

@media screen and (max-width: 325px) {
    
    #title {
    color: #2e2f2f;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    }
    
    .localisation {
    margin-top: -108%;
    float: right;
    left: 1%;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 11px 2px;
    background-color: rgba(0,0,0,0.6);
    /* overflow-y: hidden; */
    white-space: nowrap;
    }
    
    .day {
    color: #2e2f2f;
    font-size: 20px;
    margin-bottom: 4%;
    margin-top: 5%;
    text-align: center;
    white-space: nowrap;
    }
    
    .loc_2 {
    margin-top: -321px;
    }
}





