.wrap {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

/**Font**/

.nav-f {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight:600;
}

.nav-1{

}
.nav-1 a{
    text-decoration: none;
    color: black;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}

.nav-1 a:active{
    color: red;
}

.nav-2 a{
    text-decoration: none;
    color: black;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}

.window-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight:700;
    color:white;
}

.window-f {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight:600;
    color:white;
    white-space: pre-line;
    text-align: center;
}

.bloc-title {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight: 700;
    color:#2e2f2f;
    text-align: center;
}

.hover-f {
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight: 100;
    color:white;
    text-align: center;
}

.hover-title {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight: 400;
    color:white;
    text-align: center;
}

.bloc3-p {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 100;
    color:#2e2f2f;
    text-align: center;
}

.bloc4-t {
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
    font-weight: 600;
    color:white;
    text-align: center;
}

.bloc4-p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:white;
    text-align: center;
    white-space: pre-line;
}

.footer-t {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-left: 30px;
}

.footer-p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:black;
    text-align: left;
    white-space: pre-line;
}

/**Nav**/



nav {
    width: 100%;
    height: 95px;
    z-index: 10;
    position: fixed;
    background-color: white;
}

nav ul {
    padding-top: 14px;
}

nav ul li {
    display:inline;
    list-style: none;
    margin-top:20px;
}

.pad-logo {
    padding-left: 112px;
    padding-right: 40px;
}

.pad {
    margin-left: 41px;
}

.logo {
    width: 170px;
    height: 80px;

}


.wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 15%; 
    margin-top: -25px;
    text-align: center;
}

.nav-1{
    position: relative;
    top: 23px;
    left: -1px;
}


.nav-2 {
    position: absolute;
    top: 22px;
    left: 740px;
    padding-left: 110px;
}




/**Footer**/

footer {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: white;
    float: left;
}


.wrap_footer {
    height:100%;
    width: 33%;
    position: relative;
    float:left;
}

.foot-1 {
    height: 100%;
    top: 25px;
    right: 97px;
}

.t-pos {
    padding-top:55px;
    margin-left: -46%;
}

.ment-pos {
    position: relative;
    top: -19px;
    left: 52px;
}

.third-t {
    position: relative;
    left: 158px;
}

.p-1 {
    top: 125px;
    position: absolute;
}

.logo-foot-pos {
    top: 79px;
    left: 1%;
}

#logo-f{
    position: absolute;
    left: 63Px;
}

.p-2 {
    position: relative;
    top: 17px;
    left: 64Px;
    padding-bottom: 20px;
}

.p-3 {
    position: relative;
    top: 36px;
    left: 166Px;
    padding-bottom: 30px;
}

.wrap_foot_3 {
    margin-left: 11px;
    top: 28px;
}

.social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 15px;
    left: 49px;
    margin-left: 10px;
}

.recrut {
    margin-left: -30%;
    margin-top: 40px;
}

.mention {
    margin-left: -55px;
    padding-top: 20px;
}


.soc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 7px;
    background-color: #4099ff;

}

.fb {
    background-color: #3b5998;
    margin-right: 10px;
}

.twi {
    background-color: #4099ff;
}


.google{
    background-color: #d62d20;
    margin-left: 10px;
}

        /**Form Footer**/
.contact_footer {
    display: block;
    margin-left: 167px;
    margin-top: 40px;
}

.mail {
    border:4px solid black;
    width: 181px;
    height:40px;
    margin-bottom: 15px;
}

.sendmail {
    border:1px solid #ec7e34;
    background-color: #ec7e34;
    color:white;
    width: 190px;
    height:40px;
    font-size:18px;
    text-align: center;
    font-family: 'Open sans',sans-serif;
    text-transform: uppercase;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
    -webkit-transition: background-color .6s ease-out;
    transition: background-color .6s ease-out;

}
.sendmail:hover{
    color: #ec7e34;
    background-color: #fff;
    border: 4px solid #ec7e34;
}

/**Style Nav**/

.nav-1 a:hover {
    color:#f17f32;    
}

.nav-2 a:hover {
    color:#f17f32;
}


/**Phone hover**/

#phone-contact{
    top: 70%;
    right: -24%;
    z-index: 2;
    bottom: 30%;
    width: 382px;
    height: 80px;
    position: fixed;
    border: 1px solid #f17f32;
    background-color: #f17f32;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom: 3px solid #c26628;
    -webkit-transition:.8s ease-in;
    transition: .8s ease-in;
}

#phone-contact:hover{
    right: 0;
    -webkit-transition:.e8s ease-in;
    -webkit-transition:.8s ease-in;
    transition: .8s ease-in;
}

img[src="../img/call.png"]{
    width: 15%;
    padding-top: 12px;
    padding-left: 12px;
}
#number{
    color: #fff;
    left: 100px;
    bottom: 25px;
    font-size: 30px;
    position: absolute;
    font-family: 'Open sans', sans-serif;
}

/**Responsive**/

.nav_resp {
    display: none;
    border: 1px solid;
    width: 40%;
    height: 100%;
}

.nav-r {
    display: none;
}

/* Icon 1 */

#nav-icon1 {
    width: 40px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: -6%;
    margin-top: 4%;
    display:none;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 14px;
}

#nav-icon1 span:nth-child(3) {
  top: 28px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.phone {
    display: none;
    width: 5%;
    position: absolute;
    top: 59,4%;
    left: 50%;
}

.number {
    display: none; 
    POSITION: ABSOLUTE;
    TOP: 4%;
    left: 12%;
    font-weight: 600;
    font-family: 'open sans',sans-serif;
    font-size: 15Px;
}

    .w-act {
    width: 95% !important;
}

.plan {
    display: none;
}


/*Responsive nav*/



/*Responsive nav*/



@media screen and (max-width: 1440px) {
    .wrap {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 80px;
    }
    
     .w-act {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    }
    
    .nav-2 {
    position: absolute;
    top: 22px;
    left: 785px;
    padding-left: 70px;
    }
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: 12px;
    }
    
    .recrut {
    margin-left: -40%;
    margin-top: 40px;
    }
    
    .mention {
    margin-left: -114px;
    padding-top: 20px;
    }
    
    .t-pos {
    padding-top: 55px;
    margin-left: -53%;
    }
    
       .w_xxl {
    margin: 0 auto;
    width: 90%;
    height: 100%;

    }
   

}

@media screen and (max-width: 1300px) {


    .nav-2 {
    position: absolute;
    top: 22px;
    left: 734px;
    padding-left: 3px;
    }
    
    .w-act {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    }
    
     .w_actu {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    }
    
    .w_xxl {
    margin: 0 auto;
    width: 90%;
    height: 100%;

    }
    
    
    .email-adress {
    border: 4px solid white;
    width: 490px;
    height: 55px;
    margin-left: 75px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .t-pos {
    padding-top: 55px;
    margin-left: -46%;
    }
    
    .mention {
    margin-left: -67px;
    padding-top: 20px;
    }
    
    .recrut {
    margin-left: -33%;
    margin-top: 40px;
    }
    
    .wrap_foot_3 {
    margin-left: 3px;
    top: 28px;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 80px;
    }

}


@media screen and (max-width: 1280px) {
    .nav-1 {
    position: relative;
    top: 23px;
    left: 7px;
    }
    
    nav-2 {
    position: absolute;
    top: 22px;
    left: 698px;
    padding-left: 70px;
    }
    
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 97px;
    }
    
}


@media screen and (max-width: 1200px) {
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: -35px;
    }
    .nav-2 {
    position: absolute;
    top: 22px;
    left: 720px;
    padding-left: 0px;
    }
    
    .pad {
    margin-left: 20px;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 18%;
    margin-top: -25px;
    text-align: center;
    }

 
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 97px;
    }
    
        
    .w-act {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    }
    
     .w_xxl {
    margin: 0 auto;
    width: 93%;
    height: 100%;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 80px;
    }
    
    .wrap_foot_3 {
    margin-left: -28px;
    top: 28px;
    }
    
    .bloc_act_res {
        width: 22%!important;
    }
    
    .comments {
    font-size: 17px;
    padding-bottom: 30px;
    }
    
    w_actu {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    }
    
}


@media screen and (max-width: 1150px) {

    .pad {
    margin-left: 18px;
    }
    
    .nav-2 {
    position: absolute;
    top: 22px;
    left: 700px;
    padding-left: 0px;
    }
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: -25px;
    }
    
    #phone-contact {
        right:-27%;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 490px;
    height: 55px;
    margin-left: -30px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    w_actu {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    }
    
    .t-pos {
    padding-top: 55px;
    margin-left: -40%;
    }
    
        
    .recrut {
    margin-left: -24%;
    margin-top: 40px;
    }
    
    .mention {
    margin-left: -24px;
    padding-top: 20px;
    }
    
    .wrap_foot_3 {
    margin-left: -72px;
    top: 28px;
        }
    
}

@media screen and (max-width: 1080px) {
 
    .pad {
    margin-left: 10px;
    }
    
    
    .nav-2 {
    position: absolute;
    top: 22px;
    left: 669px;
    padding-left: 0px;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 22%;
    margin-top: -25px;
    text-align: center;
    }
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: -35px;
    }
    
    .w_actu {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    }
    
    
    #phone-contact {
        right: -27%;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 45px;
    }
    
}


@media screen and (max-width: 1024px) {
 
    .nav-2 {
    position: absolute;
    top: 22px;
    left: 624px;
    padding-left: 0px;
    }

    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 22%;
    margin-top: -25px;
    text-align: center;
    margin-left: 37%;
    }
    
    .nav-1 {
    position: relative;
    top: 23px;
    left: -60px;
    }
    

    .name-of-activity {

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;

    }
    

    .comments {

    font-size: 15px;
    padding-bottom: 30px;

    }
    
    .email-adress {
    border: 4px solid white;
    width: 490px;
    height: 55px;
    margin-left: -45px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .text {
    position: absolute;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 11px;
    text-align: center;
    color: white;
    bottom: 490px;
    top: 43px;
    left: -103%;
    -webkit-transition: 2s all;
    }
    
    .actu {
    display: inline-block;
    width: 410px;
    position: relative;
    overflow: hidden;
    margin-left: 3%;
    }
    
    .p-1 {
    top: 125px;
    position: absolute;
    margin-left: 12%;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 68px;
    }
    
    .logo-foot-pos {
    top: 79px;
    left: -1%;
    }
    
    .c-pos {
        margin-left: -44%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 15px;
    left: 42px;
    margin-left: 10px;
    }
    
    .wrap_foot_3 {
    margin-left: -80px;
    top: 28px;
    }
    
    .p-2 {
    position: relative;
    top: 17px;
    left: 50Px;
    padding-bottom: 20px;
    }
    
    .recrut {
    margin-left: -25%;
    margin-top: 40px;
    }

}

@media screen and (max-width: 980px) {
    .nav-1 {
    display: none;
    }
    
    .nav-r{
        display: block;
    }
    
    #nav-icon1 {
    width: 40px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-left: -6%;
    margin-top: -1%;
    display: block;
    float: right;
    }
    
    .nav_resp {
        display: block;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -16px;
    text-align: center;
    margin-left: 37%;
    padding-top: 3%;
    }
    
    .nav-2 {
    display: none;
    }
    
    .logo {
    width: 180px;
    height: 70px;
    }
    
    #phone-contact {
    right: -32%;
    }

    
    .email-adress {
    border: 4px solid white;
    width: 490px;
    height: 55px;
    margin-left: -92px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .p-2 {
    position: relative;
    top: 17px;
    left: 45Px;
    padding-bottom: 20px;
    }
    
    .mention {
    margin-left: 8px;
    padding-top: 20px;
    }
    
    .recrut {
    margin-left: -17%;
    margin-top: 40px;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 15px;
    left: 43px;
    margin-left: 10px;
    }
 
    .p-2 {

    position: relative;
    top: 17px;
    left: 52Px;
    padding-bottom: 20px;

    }
    
    .t-pos {
    padding-top: 55px;
    margin-left: -39%;
    }
    
    .c-pos {
        margin-left:0%;
    }
    
    .logo-foot-pos {
    top: 79px;
    left: -1%;
    width: 33%;
    }
    
    .p-3 {
    position: relative;
    top: 36px;
    left: 156Px;
    padding-bottom: 30px;
    }
    
    .cf-2 {
    margin-left: 52%;
    }
    
    .c-pos {
    margin-left: -39%;
    }
    
    .wrap_foot_3 {
    margin-left: -103px;
    top: 28px;
    }
    
    .foot-1 {
    height: 100%;
    top: 25px;
    right: 60px;
    }
    
    #logo-f {
    position: absolute;
    left: 39Px;
    }

    nav ul li {
    display: block;
    list-style: none;
    margin-top: 20px;
    color: white;
    }
    
    
    nav ul li {
    display: block;
    list-style: none;
    margin-top: 24px;
    color: white;
    border-bottom: 2px solid;
    padding-top: 3%;
    padding-bottom: 6%;
    }
    
    .nav_resp {
    display: block;
    position: absolute;
    height: 476px;
    z-index: 80;
    width: 35%;
    left: 32%;
    text-align: center;
    margin-top:-100%;
    background-color: #7AC0BC;
    font-family: 'Open sans',sans-serif;
    border: #7AC0BC;
    transition:1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
    }
    
     .toggle {
    margin-top: -4%;
    -webkit-transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;

    }
    
    
    
}

@media screen and (max-width: 895px) {
    
 .email-adress {
    border: 4px solid white;
    width: 490px;
    height: 55px;
    margin-left: -85px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .actu {
    display: inline-block;
    width: 410px;
    position: relative;
    overflow: hidden;
    margin-left: 1%;
    }
    
  
    
    #phone-contact {
        right:-34%;
    }
    
    .wrap_foot_3 {
        display: none;
    }
    
    .p-1 {
        display: none;
    }
    
    .c-pos {
        display: none;
    }
    
     .p-2 {
    position: relative;
    top: 197px;
    left: 140Px;
    padding-bottom: 20px;
    }
    
    .p_res {
    left: 121%;
    top: 46%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 105px;
    left: 645px;
    margin-left: 10px;
    }
    

    .plan {

    display: block;
    margin-top: 92%;
    margin-left: -13%;
    position: relative;

    }
    
    .recrut {
    margin-left: 25%;
    margin-top: 68%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -16%;
    margin-left: 222%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -16%;
    margin-left: 222%;
    }
    
    #phone-contact {
        display: none;
    }
    
    .screen {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 54%;
    }
    
    #bloc4 {
        display: none;
    }

    
}

@media screen and (max-width: 840px) {
    .bloc_act_res {
    width: 20% !important;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -17%;
    margin-left: 222%;
    }
    
    .comments {
    font-size: 14px;
    padding-bottom: 30px;
    }
    
    .plan {
    display: block;
    margin-top: 93%;
    margin-left: -13%;
    position: relative;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 383px;
    height: 55px;
    margin-left: -118px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
     .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 570px;
    margin-top: 2%;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -16px;
    text-align: center;
    margin-left: 33%;
    padding-top: 3%;
    }
    
    .p-2 {
    position: relative;
    top: 197px;
    left: 100Px;
    padding-bottom: 20px;
    }
    
    .p_res {
    left: 123%;
    top: 46%;
    white-space: nowrap;
    }
    
    .soc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    }
    
     .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 32%;
    right: 99%;
    margin-left: 10px;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -18%;
    margin-left: 220%;
    }
    
    .plan {
    display: block;
    margin-top: 93%;
    margin-left: -16%;
    }
    
    .recrut {
    margin-left: 11%;
    margin-top: 68%;
    }
    

}


@media screen and (max-width: 800px) {


    #nav-icon1 {
        width: 40px;
        height: 45px;
        position: relative;
        margin: 10px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-left: -6%;
        margin-top: -1%;
        display: block;
        float: right;
    }
    

    .p-2 {

        position: relative;
        top: 197px;
        left: 45%;
        padding-bottom: 20px;

    }
    
    .plan {
        display: block;
        margin-top: 95%;
        margin-left: -22%;
    }
    
    .p_res {
    left: 117%;
    top: 46%;
    white-space: nowrap;
    }
    
    #logo-f {
    position: absolute;
    left: 11%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 32%;
    left: 235%;
    margin-left: 10px;
    }
    
}

@media screen and (max-width: 780px) {

    .bloc_act_res {
        width: 20%!important;
    }
    
    #title {
        padding-top:0px;
    }
    
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -17px;
    text-align: center;
    margin-left: 37%;
    padding-top: 4%;
    top: 0%;
    }
    
    #nav-icon1 {
        margin:0px;
    }
    
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 570px;
    margin-top: 2%;
    }
    
    .p-2 {
    position: relative;
    top: 197px;
    left: 100Px;
    padding-bottom: 20px;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 383px;
    height: 55px;
    margin-left: -141px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .p_res {
    left: 123%;
    top: 46%;
    white-space: nowrap;
    }
    
    .soc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 249%;
    margin-left: 10px;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -18%;
    margin-left: 222%;
    }
    
    .plan {
    display: block;
    margin-top: 92%;
    margin-left: -7%;
    }
}

@media screen and (max-width: 750px) {
    .p-2 {
    position: relative;
    top: 197px;
    left: 26%;
    padding-bottom: 20px;
    }

 


    .p_res {

        left: 119%;
        top: 46%;
        white-space: nowrap;

    }
    
    .toggle {
        margin-top:-6%;
    }

    .plan {
    display: block;
    margin-top: 95%;
    margin-left: -15%;
    font-size: 22px;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -18%;
    margin-left: 225%;
    }
    
    .soc {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 7px;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 589px;
    margin-left: -9px;
    }
    
    .footer-t {
        font-size:20px;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 60%;
    height: 55px;
    margin-left: -141px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    

    
}

@media screen and (max-width: 700px) {
  
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 571px;
    margin-left: -9px;
    }
    
    .p_res {
    left: 119%;
    top: 46%;
    white-space: nowrap;
    }
    
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 500px;
    margin-top: 2%;
}
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 484px;
    margin-top: 2%;
    padding-bottom: 0%;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 60%;
    height: 55px;
    margin-left: -145px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    #logo-f {
    position: absolute;
    left: 3%;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -17px;
    text-align: center;
    margin-left: 27%;
    padding-top: 4%;
    top: 0%;
    }    
    
    .p-2 {
    position: relative;
    top: 197px;
    left: 26%;
    padding-bottom: 20px;
    font-size: 15px;
    }
    
    #title {
    padding-top: 4%;
    }
    
    .plan {
    display: block;
    margin-top: 95%;
    margin-left: -28%;
    font-size: 22px;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -18%;
    margin-left: 221%;
    }
    
}

@media screen and (max-width: 630px) {
    
    .bloc_act_res {
    width: 44% !important;
    }
    
    #bloc2 {
    width: 100%;
    height: 1455px;
    font-family: "OpenSans", sans-serif;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 59%;
    height: 55px;
    margin-left: -160px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    
    .plan {
    display: block;
    margin-top: 100%;
    margin-left: -28%;
    font-size: 22px;
    }
    
    .recrut {
    margin-left: 11%;
    margin-top: 71%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -21%;
    margin-left: 221%;
    }
    
    #logo-f {
    position: absolute;
    left: 0%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 511px;
    margin-left: -9px;
    }

}


@media screen and (max-width: 602px) {
 
    #logo-f {
    position: absolute;
    left: -4%;
    }
    
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 421px;
    margin-top: 2%;
    padding-bottom: 0%;
    }
    
    .p_res {
    left: 119%;
    top: 46%;
    white-space: nowrap;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 500px;
    margin-left: -9px;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -17px;
    text-align: center;
    margin-left: 27%;
    padding-top: 5%;
    top: 0%;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 34px;
    left: 0;
    width: 100%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -23%;
    margin-left: 221%;
    }
    
 
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 113px;
    left: 272%;
    margin-left: -9px;
    }
    
    .p_res {
    left: 116%;
    top: 46%;
    white-space: nowrap;
    }
    
    .submit {
    border: none;
    background-color: #ec7e34;
    color: white;
    width: 59%;
    height: 65px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
    font-size: 17px;
    }
    
    .email-adress {
    border: 4px solid white;
    width: 50%;
    height: 55px;
    margin-left: -132px;
    margin-top: 20px;
    background: none;
    color: white;
    font-size: 17px;
    padding-left: 40px;
    }
    
    .fb {
    background-color: #3b5998;
    margin-right: 5px;
    }
    
    .google {
    background-color: #d62d20;
    margin-left: 5px;
    }
    
    .soc {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    }
    
    .paragraph {
    font-size: 14px;
    white-space: initial;
    padding-top: 2%;
    }
    
    .toggle {
    margin-top: -8%;
    }
    
}


@media screen and (max-width: 550px) {

    .plan {
    display: block;
    margin-top: 121%;
    margin-left: -28%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -23%;
    margin-left: 221%;
    }
    
    .recrut {
    margin-left: 11%;
    margin-top: 89%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 114px;
    left: 272%;
    margin-left: 0px;
    }
    
    .p-2 {
    position: relative;
    top: 197px;
    left: 28%;
    padding-bottom: 20px;
    }
    
    .footer-t {
    font-size: 19px;
    }
    
    .p_res {
    left: 116%;
    top: 46%;
    white-space: nowrap;
    }


}

@media screen and (max-width: 550px) {
    .nav_resp {
    display: block;
    position: absolute;
    height: 476px;
    z-index: 80;
    width: 35%;
    left: 32%;
    text-align: center;
    margin-top: -102%;
    background-color: #7AC0BC;
    font-family: 'Open sans',sans-serif;
    border: #7AC0BC;
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
    }
    
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 375px;
    margin-top: 2%;
    padding-bottom: 0%;
    /* padding-left: 0%; */
    }
    
    .soc {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 114px;
    left: 280%;
    margin-left: 4px;
    }
    
    
    .p-2 {
    position: relative;
    top: 196px;
    left: 29%;
    padding-bottom: 20px;
    font-size: 15px;
    }
    
    .plan {
    display: block;
    margin-top: 119%;
    margin-left: -37%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -25%;
    margin-left: 215%;
    }
    
      .p_res {
    left: 119%;
    top: 46%;
    white-space: nowrap;
    }
    
    
    .paragraph {
    font-size: 13px;
    white-space: initial;
    padding-top: 1%;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 59px;
    left: 0;
    width: 100%;
    }

}

@media screen and (max-width: 490px) {

    .nav_resp {
        display: block;
        position: absolute;
        height: 476px;
        z-index: 80;
        width: 35%;
        left: 32%;
        text-align: center;
        margin-top: -112%;
        background-color: #7AC0BC;
        font-family: 'Open sans',sans-serif;
        border: #7AC0BC;
        transition: 1s all ease-in-out;
        -webkit-transition: 1s all ease-in-out;
        -moz-transition: 1s all ease-in-out;
        -o-transition: 1s all ease-in-out;
        transition: 1s all ease-in-out;
    }

    .toggle {
    margin-top:-6%
    }
    
    
    
    #logo-f {
    position: absolute;
    left: -13%;
    }
    
      .recrut {
    margin-left: 11%;
    margin-top: 135%;
    }
    
    .plan {
    display: block;
    margin-top: 170%;
    margin-left: -37%;
    }
    
     .mention {
    white-space: nowrap;
    margin-top: -26%;
    margin-left: 212%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 155px;
    left: 139%;
    margin-left: 0px;
    }
    
    .p-2 {
    position: relative;
    top: 189px;
    left: 46%;
    padding-bottom: 20px;
    font-size: 15px;
    }
    
    .plan {
    display: block;
    margin-top: 170%;
    margin-left: -38%;
    }
    
    .fb {
    background-color: #3b5998;
    margin-right: 10px;
    }
    
    .google {
    background-color: #d62d20;
    margin-left: 10px;
    }
    
    .p_res {
    left: 168%;
    top: 44%;
    white-space: nowrap;
    }
    
    
    
    .soc {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    }
    
}

@media screen and (max-width: 450px) {

    .nav_resp {
        display: block;
        position: absolute;
        height: 376px;
        z-index: 80;
        width: 35%;
        left: 32%;
        text-align: center;
        margin-top: -123%;
        background-color: #7AC0BC;
        font-family: 'Open sans',sans-serif;
        border: #7AC0BC;
        transition: 1s all ease-in-out;
        -webkit-transition: 1s all ease-in-out;
        -moz-transition: 1s all ease-in-out;
        -o-transition: 1s all ease-in-out;
        transition: 1s all ease-in-out;
    }
   
    
    
    .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 320px;
    margin-top: 2%;
    padding-bottom: 0%;
    /* padding-left: 0%; */
    }
    
    .footer-t {
    font-size: 16px;
    }
    
    .recrut {
    margin-left: 21%;
    margin-top: 132%;
    }
    
    .mention {
    white-space: nowrap;
    margin-top: -27%;
    margin-left: 212%;
    }
    
    .social {
    display: inline;
    height: 40%;
    width: 60%;
    position: relative;
    top: 155px;
    left: 148%;
    margin-left: 0px;
    }
    
    .wrap-l {
    margin: 0 auto;
    height: 26%;
    width: 21%;
    margin-top: -17px;
    text-align: center;
    margin-left: 25%;
    padding-top: 5%;
    top: 0%;
    }



}














